Daily Weather Email.json
{
  "name": "Daily Weather Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -416
      ],
      "id": "7c335f26-8209-4da0-92e1-ea035639795c",
      "name": "Daily Schedule Trigger",
      "notes": "Runs every day to start the weather workflow."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f1c7981-29ed-40bf-b8ba-206aa3c4d095",
              "name": "=cities",
              "value": "={{ JSON.parse($vars.CITY_NAMES) }}",
              "type": "array"
            },
            {
              "id": "04a7498b-624d-4728-8e51-d5088ba8b746",
              "name": "units",
              "value": "metric",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -416
      ],
      "id": "1d32b169-29fe-405c-b656-f06f76f2c4e9",
      "name": "Set Cities & Units"
    },
    {
      "parameters": {
        "fieldToSplitOut": "cities",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        -416
      ],
      "id": "8bfc8737-6086-43e7-bb5e-298adcf8855d",
      "name": "Split Cities Into Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3d03660-49b5-4176-a4e9-bf26d6587432",
              "name": "city",
              "value": "={{$json[\"cities\"]}}",
              "type": "string"
            },
            {
              "id": "8b38ae72-1312-45bc-aee2-0e5298d9d18a",
              "name": "units",
              "value": "metric",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -416
      ],
      "id": "68efcf7c-7757-4eef-9ecf-e5d392f47c86",
      "name": "Normalize City Field"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json[\"city\"]}}"
            },
            {
              "name": "appid",
              "value": "c2b7212ffc8bc738d6fbde8586df13bc"
            },
            {
              "name": "units",
              "value": "={{$json[\"units\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        -192
      ],
      "id": "d0f68bc2-7d1e-4edc-92cd-3691b205de30",
      "name": "Fetch Weather from OpenWeather",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json;\n\nconst city = data.name || data.city || \"Unknown city\";\nconst tempC = data.main?.temp;\nconst humidity = data.main?.humidity;\nconst windSpeed = data.wind?.speed;\nconst condition = (data.weather && data.weather[0]?.description) || \"Unknown\";\n// additional weather metrics\nconst feelsLike = data.main?.feels_like;\n\nconst temperature = tempC;\nconst temperatureUnit = \"C\";\n\nconst conditionDesc = condition.toLowerCase();\nlet alertType = \"none\";\n\nconst precipitationKeywords = [\"rain\", \"drizzle\", \"snow\", \"storm\", \"thunder\"];\n\nif (precipitationKeywords.some(k => conditionDesc.includes(k))) {\n  alertType = \"precipitation\";\n} else if (temperature > 32) {\n  alertType = \"heat\";\n} else if (temperature < 0) {\n  alertType = \"frost\";\n}\n\nlet alertKeyword = null;\n\nif (alertType === \"precipitation\") {\n  if (conditionDesc.includes(\"snow\")) {\n    alertKeyword = \"Snow\";\n  } else if (conditionDesc.includes(\"drizzle\")) {\n    alertKeyword = \"Drizzle\";\n  } else if (conditionDesc.includes(\"storm\") || conditionDesc.includes(\"thunder\")) {\n    alertKeyword = \"Stormy Weather\";\n  } else {\n    alertKeyword = \"Rain\";\n  }\n} else if (alertType === \"heat\") {\n  alertKeyword = \"Heat\";\n} else if (alertType === \"frost\") {\n  alertKeyword = \"Frost\";\n}\n\nlet alertPhrase = null;\nif (alertKeyword) {\n  alertPhrase = `${alertKeyword} Expected Today`;\n} else {\n  alertPhrase = \"No Alert Today\";\n}\n\nconst summary = [\n  `Daily Weather - ${city}`,\n  `Temp: ${temperature.toFixed(1)} ${temperatureUnit}`,\n  `Temp Feels Like: ${feelsLike.toFixed(1)} ${temperatureUnit}`,\n  `Humidity: ${humidity} %`,\n  `Wind: ${windSpeed} m/s`,\n  `Alert: ${alertPhrase}`\n].join(\"\\n\");\n\nreturn {\n  run_at: new Date().toISOString(),\n  city,\n  temperature,\n  temperature_unit: temperatureUnit,\n  condition,\n  humidity,\n  wind_speed: windSpeed,\n  alert_type: alertType,\n  summary,\n  raw_response: data\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -192
      ],
      "id": "48a61916-dbb4-46b3-93d5-7b359e573c89",
      "name": "Build Summary & Alerts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jydmihfrauafqjjqnkfe.supabase.co/rest/v1/weather_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5ZG1paGZyYXVhZnFqanFua2ZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjAzMTQ0MSwiZXhwIjoyMDgxNjA3NDQxfQ.jsZ_jmUGh4e9R6JKEIXtR35_TIw2_uLZmaAaoT-GRTw"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5ZG1paGZyYXVhZnFqanFua2ZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjAzMTQ0MSwiZXhwIjoyMDgxNjA3NDQxfQ.jsZ_jmUGh4e9R6JKEIXtR35_TIw2_uLZmaAaoT-GRTw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_at",
              "value": "={{ $json[\"run_at\"] }}"
            },
            {
              "name": "city",
              "value": "={{ $json[\"city\"] }}"
            },
            {
              "name": "temperature",
              "value": "={{ $json[\"temperature\"] }}"
            },
            {
              "name": "temperature_unit",
              "value": "={{ $json[\"temperature_unit\"] }}"
            },
            {
              "name": "condition",
              "value": "={{ $json[\"condition\"] }}"
            },
            {
              "name": "humidity",
              "value": "={{ $json[\"humidity\"] }}"
            },
            {
              "name": "wind_speed",
              "value": "={{ $json[\"wind_speed\"] }}"
            },
            {
              "name": "alert_type",
              "value": "={{ $json[\"alert_type\"] }}"
            },
            {
              "name": "raw_response",
              "value": "={{ $json[\"raw_response\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        -192
      ],
      "id": "70aea6d1-c517-4996-baa2-933e3fe95779",
      "name": "Save Weather Log to Supabase",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "atratic2@gmail.com",
        "toEmail": "atratic@gmail.com",
        "subject": "={{ `Daily Weather for ${$json.city} – ${new Date($json.run_at).toLocaleDateString()}` }}",
        "html": "={{ `\n<h2>Daily Weather – ${$json.city}</h2>\n\n<pre>${$json.summary}</pre>\n\n` }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -48,
        16
      ],
      "id": "a12412e0-2aa0-4492-a35d-3d7e822a91f0",
      "name": "Send Daily Weather Email",
      "webhookId": "099ee976-0cae-4475-9595-8141a27c6358",
      "credentials": {
        "smtp": {
          "id": "zTjmX1rOuVziXsen",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Cities & Units",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Cities & Units": {
      "main": [
        [
          {
            "node": "Split Cities Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Cities Into Items": {
      "main": [
        [
          {
            "node": "Normalize City Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize City Field": {
      "main": [
        [
          {
            "node": "Fetch Weather from OpenWeather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather from OpenWeather": {
      "main": [
        [
          {
            "node": "Build Summary & Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary & Alerts": {
      "main": [
        [
          {
            "node": "Save Weather Log to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Daily Weather Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Weather Log to Supabase": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76e7392b-8bd1-4992-9e0d-b8822e11f8df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "449dc58c7ee635fb4a583f680065546ba44476c2d04762b16a9b79f2548f18c5"
  },
  "id": "ol2uB73lZDYSCePP",
  "tags": []
}